<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/Template :: header">

</head>
<body>

    <div th:replace="fragments/Template :: navbar"></div>



    <section class="container main">
        <div class="row justify-content-sm-center justify-content-md-center ">
            <div class="col-sm-10 col-md-8">

                <div class="card" >
                    <img class="card-img-top" src="http://lorempixel.com/1000/300/people" alt="Table clients"/>
                    <div class="card-body">
                        <h4 class="card-title">Update</h4>

                        <form th:action="@{/client/delete}" method="POST">

                            <input type="hidden" th:name="id" th:value="${id}" hidden="hidden"/>

                            <div class="form-group">
                                <label for="name">Write the confirmation:</label>
                                <p th:text="${name}" class="text-danger"></p>
                                <input type="text"
                                       class="form-control"
                                       aria-describedby="name"
                                       placeholder="Write the confirmation"
                                       th:name="name"/>
                            </div>

                            <button type="submit" class="btn btn-danger"> Delete </button>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </section>

<div th:replace="fragments/Template :: footer"></div>

<!-- scripts -->
<div th:replace="fragments/Template :: scripts"></div>

</body>
</html>