    <!DOCTYPE html>
    <html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head th:fragment="header">

        <meta charset="UTF-8"></meta>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous"></link>
        <title th:text="@{title}"></title>

        <style>
            section {
                margin: 2em 0em;
            }

            html, body{
                height: 100vh;
                width: 100%;
                background: aliceblue;
            }

            .main{
                min-height: 100vh;
            }
        </style>

    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="navbar">

            <a class="navbar-brand" href="#"> Demo Hibernate </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse " id="navbarSupportedContent">

                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/client">Clients</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/client/create">Add Client</a>
                    </li>
                </ul>

            </div>
        </nav>


        <footer class="container-fluid w-100 bg-faded bg-dark text-white" th:fragment="footer">
            <div class="row">
                <div class="col px-10">
                    <ul class="nav flex-column">
                        <a class="nav-link">Spring + Hibernate Demo</a>
                    </ul>
                </div>

            </div>
        </footer>


        <secction th:fragment="scripts">
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
        </secction>

    </body>
    </html>